<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultCategory</key>
	<string>basic_control</string>
	<key>tree</key>
	<dict>
		<key>custom_control</key>
		<dict>
			<key>category</key>
			<string>custom_control</string>
			<key>key</key>
			<string>custom_control</string>
			<key>title</key>
			<string>自定义控件</string>
			<key>type</key>
			<string>category</string>
			<key>subProTypes</key>
			<array>
				<dict>
					<key>class</key>
					<string>customScrollViewController</string>
					<key>key</key>
					<string>customScrollViewController</string>
					<key>title</key>
					<string>简单 scrollView 实现</string>
					<key>type</key>
					<string>showcase</string>
				</dict>
			</array>
		</dict>
		<key>basic_control</key>
		<dict>
			<key>category</key>
			<string>basic_control</string>
			<key>key</key>
			<string>basic_control</string>
			<key>title</key>
			<string>基础控件</string>
			<key>type</key>
			<string>category</string>
			<key>subProTypes</key>
			<array>
				<dict>
					<key>key</key>
					<string>basic_imagePicker</string>
					<key>type</key>
					<string>menu</string>
					<key>title</key>
					<string>照相机和相册</string>
					<key>subProTypes</key>
					<array>
						<dict>
							<key>class</key>
							<string>cameraPickerController</string>
							<key>key</key>
							<string>cameraPickerController</string>
							<key>title</key>
							<string>照相机</string>
							<key>type</key>
							<string>showcase</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>key</key>
					<string>basic_scrollView</string>
					<key>type</key>
					<string>menu</string>
					<key>title</key>
					<string>滚动条</string>
					<key>subProTypes</key>
					<array>
						<dict>
							<key>class</key>
							<string>tomorrowScrollViewController</string>
							<key>key</key>
							<string>tomorrowScrollViewController</string>
							<key>title</key>
							<string>滚动位置控制</string>
							<key>type</key>
							<string>showcase</string>
						</dict>
						<dict>
							<key>class</key>
							<string>zoomScrollViewController</string>
							<key>key</key>
							<string>zoomScrollViewController</string>
							<key>title</key>
							<string>缩放</string>
							<key>type</key>
							<string>showcase</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>key</key>
					<string>basic_string</string>
					<key>type</key>
					<string>menu</string>
					<key>title</key>
					<string>字符串</string>
					<key>subProTypes</key>
					<array>
						<dict>
							<key>class</key>
							<string>attributeStringViewController</string>
							<key>key</key>
							<string>attributeStringViewController</string>
							<key>title</key>
							<string>attributeString</string>
							<key>type</key>
							<string>showcase</string>
						</dict>
						<dict>
							<key>class</key>
							<string>ctRunDelegateViewController</string>
							<key>key</key>
							<string>ctRunDelegateViewController</string>
							<key>title</key>
							<string>ctRunDelegate</string>
							<key>type</key>
							<string>showcase</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<key>code_snippet</key>
		<dict>
			<key>category</key>
			<string>code_snippet</string>
			<key>key</key>
			<string>code_snippet</string>
			<key>title</key>
			<string>代码片段</string>
			<key>type</key>
			<string>category</string>
			<key>subProTypes</key>
			<array>
				<dict>
					<key>key</key>
					<string>snippet_gcd</string>
					<key>type</key>
					<string>menu</string>
					<key>title</key>
					<string>GCD</string>
					<key>subProTypes</key>
					<array>
						<dict>
							<key>class</key>
							<string>snippetDispatchSource</string>
							<key>key</key>
							<string>snippetDispatchSource</string>
							<key>title</key>
							<string>dispatch_source</string>
							<key>type</key>
							<string>showcase</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
